.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  padding: 5px;
  border: 1px solid #000;
  cursor: pointer;

  & + & {
    border-top: 0;
  }
}

.cursor {
  cursor: default;
}

.active {
  background-color: #cccecf;
}
