.list {
  opacity: 0;
  padding: 10px;
  position: absolute;
  visibility: hidden;
  display: flex;
  flex-wrap: wrap;
  color: #000;
}

.active {
  opacity: 1;
  visibility: inherit;
  top: 0;
  left: 0;
}
